/****************************
    Global
****************************/

* {
  box-sizing: border-box;
}

/****************************
    Header
****************************/
header {
  background-color: #6B0504;
  color: white;
}
