/****************************
    Global
****************************/

* {
  box-sizing: border-box;
  /*font-family: 'PT Sans', sans-serif;*/
  font-family: 'Vollkorn', sans-serif;
}

a {
  text-decoration: none;
}

/****************************
    Header
****************************/
header {
  background-color: #6B0504;
  color: white;
}
